@import '/home/kyle/.cache/wal/colors-waybar.css';
* {

    color: @foreground;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    font-family: "Segoe UI", "Ubuntu", "Symbols Nerd Font";
    font-weight: 900;
    font-size: 15.7px;
    /* padding: 10px; */
}

tooltip {
    /* margin-top: 5px; */
    margin-bottom: 15px;
    border-radius: 60px;
    background: alpha(@color0,0.6);
}
window#waybar {
    background: alpha(@background,0.1);
}
#clock {
    padding: 10px;
}

#workspaces {
    padding-left: 10px;
    color: transparent;
    font-family: "monospace";
    margin-right: 2.5px;
    margin-left: 2.5px;
    /* margin-top: 5px;
    margin-bottom: 10px; */
}

#workspaces button {
    padding: 5px;
    /* color: #ffffff; */
}
#workspaces button.active {
    /* background-color: #0000ff; */
    color: #ff0000;
}
#workspaces button.focused {
    background-color: #ff0000;
    color: #0000ff;
}
#workspaces button:hover {
    background: transparent;
    border-color: transparent;
}

#network,
#pulseaudio,
#bluetooth {
    padding: 5px;
}

#taskbar {
    margin-bottom: 5px;
    border-radius: 60px;
    padding: 2px;
    background: alpha(@color1,0.1);
}
#taskbar button {
    margin: 0 1px;
    border-radius: 30px;
}
#taskbar button:hover {
    border-color: transparent;
    background: alpha(@cursor,0.2);
}
#taskbar button.active {
    border-color: transparent;
    background: alpha(@cursor,0.4);
}

